/* Hide parentheses in the "Page Contents" links for properties. */
.md-nav--secondary .md-nav__item [href$="name"] {
  margin-right: 10.9em;
}
.md-nav--secondary .md-nav__item [href$="colors"] {
  margin-right: 9.7em;
}
.md-nav--secondary .md-nav__item [href$="strings"] {
  margin-right: 9.1em;
}

/* Same as above, but for smaller (i.e. mobile) screens. */
@media screen and (max-width: 44.9375em) {
  .md-nav--secondary .md-nav__item [href$="name"] {
    margin-right: 10.2em;
  }
  .md-nav--secondary .md-nav__item [href$="colors"] {
    margin-right: 9em;
  }
  .md-nav--secondary .md-nav__item [href$="strings"] {
    margin-right: 8.4em;
  }
}
