/* Hide parentheses in the "Page Contents" links for properties. */
.md-nav--secondary .md-nav__item [href$="file_path"] {
  margin-right: 7.8em;
}
.md-nav--secondary .md-nav__item [href$="min_pw_length"] {
  margin-right: 5.4em;
}

/* Same as above, but for smaller (i.e. mobile) screens. */
@media screen and (max-width: 44.9375em) {
  .md-nav--secondary .md-nav__item [href$="file_path"] {
    margin-right: 7.1em;
  }
  .md-nav--secondary .md-nav__item [href$="min_pw_length"] {
    margin-right: 4.7em;
  }
}
