/* Fix the inconsistent number coloring in the example for `parse_bot_args()`. */
[id$="parse_bot_args"] + * > .example .language-console code .m {
  color: var(--md-code-fg-color);
}

/*  Make all console output in the `manage_tokens()` example selectable. */
[id$="manage_tokens"] + * > .example .language-console code .go {
  user-select: text;
}

/* Adjust width of the annotation tooltip in the `manage_tokens()` example. */
[id$="manage_tokens"] + * > .example .annotate code .md-annotation .md-tooltip {
  width: 16.5rem;
}
