/* Fix the inconsistent number colors in the example for `parse_bot_args()`. */
[id$="parse_bot_args"] + * > .example .language-console code .m {
  color: var(--md-code-fg-color);
}

/*  Make all console output in the `manage_tokens()` example selectable. */
[id$="manage_tokens"] + * > .example .language-console code .go {
  user-select: text;
}

/* Fix alignment of annotation "+" button in the `manage_tokens()` example. */
[id$="manage_tokens"] + * > .example .annotate [data-md-annotation-id]:before {
  vertical-align: revert;
}
