/*  Make all console output selectable in the code blocks in the main example. */
div#botstrap-example .language-console code .go {
  user-select: text;
}

/* Hide the redundant filename headers in the code blocks in the main example. */
div#botstrap-example span.filename {
  display: none;
}

/* Remove the extra spacing at the bottom of some tabs in the main example. */
div#botstrap-example .tabbed-block p:last-child {
  margin-block-end: 0;
}

/* Fix the colors of some words in the `extras.py` code in the main example. */
div#botstrap-example span#line-2-12 > .linenos + .nb {
  color: var(--md-code-hl-name-color);
}
div#botstrap-example span#line-2-13 > .s2 + .si {
  color: var(--md-code-hl-string-color);
}
