/* Slightly decrease the vertical padding of cells in the field info table. */
.cli-colors-fieldinfo .md-typeset__table tr > :is(td, th) {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

/* Add the primary color (cyan) to the first line of console output text. */
.cli-colors-example .colored-output code > :nth-last-child(2) > .go {
  background-image: linear-gradient(
    to right,
    var(--color-cyan) 0%,
    var(--color-cyan) 13.12%,
    var(--md-code-hl-generic-color) 13.12%,
    var(--md-code-hl-generic-color) 100%
  );
}

/* Add the highlight color (pink) to the second line of console output text. */
.cli-colors-example .colored-output code > :last-child > .go {
  background-image: linear-gradient(
    to right,
    var(--md-code-hl-generic-color) 0%,
    var(--md-code-hl-generic-color) 78.57%,
    var(--color-pink) 78.57%,
    var(--color-pink) 83.93%,
    var(--md-code-hl-generic-color) 83.93%,
    var(--md-code-hl-generic-color) 94.64%,
    var(--color-pink) 94.64%,
    var(--color-pink) 96.43%,
    var(--md-code-hl-generic-color) 96.43%,
    var(--md-code-hl-generic-color) 100%
  );
}

/* Hide the comment around the annotation in the source definitions box. */
.cli-colors-sourcedefs .language-py .c1 {
  font-size: 0;
}

/* Restore the annotation "+" button and adjust the size of its tooltip. */
.cli-colors-sourcedefs .language-py .md-annotation {
  font-size: 0.55rem;
}
.cli-colors-sourcedefs .language-py .md-annotation .md-tooltip {
  width: 17.5rem;
}
