/* Slightly decrease the vertical padding of cells in the field info table. */
details.info .md-typeset__table tr > :is(td, th) {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

/* Adjust width of the annotation tooltip in the source definitions block. */
.sourcedefs code .md-annotation .md-tooltip {
  width: 16.67rem;
}
