/* Color the "yes" and "y" prompt text in the `confirm_or_exit()` example. */
[id*="confirm_or_exit"] + * .colored-output code > :last-child > .go {
  background-image: linear-gradient(
    to right,
    var(--md-code-hl-generic-color) 0%,
    var(--md-code-hl-generic-color) 74.55%,
    var(--color-cyan) 74.55%,
    var(--color-cyan) 80%,
    var(--md-code-hl-generic-color) 80%,
    var(--md-code-hl-generic-color) 90.91%,
    var(--color-cyan) 90.91%,
    var(--color-cyan) 92.98%,
    var(--md-code-hl-generic-color) 92.98%,
    var(--md-code-hl-generic-color) 96.36%,
    transparent 96.36%,
    transparent 100%
  );
}

/* Color the two segments of text in the `exit_process()` example. */
[id*="exit_process"] + * .colored-output code > :last-child > .go {
  background-image: linear-gradient(
    to right,
    var(--color-red) 0%,
    var(--color-red) 71.67%,
    var(--color-grey) 71.67%,
    var(--color-grey) 100%
  );
}

/* Color the "yes" and "y" prompt text in the `get_bool_input()` example. */
[id*="get_bool_input"] + * .colored-output code > :nth-last-child(2) > .go {
  background-image: linear-gradient(
    to right,
    var(--md-code-hl-generic-color) 0%,
    var(--md-code-hl-generic-color) 71.64%,
    var(--color-cyan) 71.64%,
    var(--color-cyan) 76.12%,
    var(--md-code-hl-generic-color) 76.12%,
    var(--md-code-hl-generic-color) 85.07%,
    var(--color-cyan) 85.07%,
    var(--color-cyan) 86.57%,
    var(--md-code-hl-generic-color) 86.57%,
    var(--md-code-hl-generic-color) 100%
  );
}

/* Color the "Enter your password" text in the `get_hidden_input()` example. */
[id*="get_hidden_input"] + * .colored-output code > :nth-child(2) > .go {
  background-image: linear-gradient(
    to right,
    var(--color-cyan) 0%,
    var(--color-cyan) 71.43%,
    var(--md-code-hl-generic-color) 71.43%,
    var(--md-code-hl-generic-color) 100%
  );
}

/* Restore color to affected .colored-output lines that don't need a gradient. */
[id*="get_"][id$="_input"] + * .colored-output code > :last-child > .go {
  background-color: var(--md-code-hl-generic-color);
}
