/* Define global variables. */
:root {
  --color-blue: #55f;
  --color-cyan: #5ff;
  --color-green: #5f5;
  --color-grey: #555;
  --color-pink: #f5f;
  --color-red: #f55;
  --color-yellow: #ff5;
  --emoji-margin: 0.25em;
}

/* Add some extra horizontal spacing around emoji so they don't look cramped. */
.twemoji {
  margin: 0 var(--emoji-margin);
}

/* Prevent user selection of all code block filenames, as well as console and
   pycon code block ".go" (generic output) and ".gp" (generic prompt). */
.highlight > .filename,
:is(.language-console, .language-pycon) :is(.go, .gp) {
  user-select: none;
}

/* Hide line numbers in console, pycon, and explicitly opted-out code blocks. */
:is(.language-console, .language-pycon, .line-numbers-off) .linenos {
  display: none;
}

/* Color ALL the things! \o/ */
code.blue {
  color: var(--color-blue);
}
code.cyan {
  color: var(--color-cyan);
}
code.green {
  color: var(--color-green);
}
code.grey {
  color: var(--color-grey);
}
code.pink {
  color: var(--color-pink);
}
code.red {
  color: var(--color-red);
}
code.yellow {
  color: var(--color-yellow);
}
