/* Prevent user selection of all code block filenames, as well as console and
   pycon code block ".gp" ("generic prompt") and ".go" ("generic output"). */
.highlight .filename,
.language-console .gp,
.language-console .go,
.language-pycon .gp,
.language-pycon .go {
  user-select: none;
}

/* Hide line numbers in console, pycon, and explicitly opted-out code blocks. */
.language-console .linenos,
.language-pycon .linenos,
.line-numbers-off .linenos {
  display: none;
}

/* Hide footer links pointing into the "internal" category from outside it. */
a[href*="../internal"].md-footer__link--next {
  display: none;
}
