/*  Allow all "generic output" text in the code block to be selected. */
[id*="manage_tokens"] + * .colored-output code .go {
  user-select: text;
}

/*  Hide the "#" (comment symbol) before the annotation. */
[id*="manage_tokens"] + * .colored-output code > :first-child .c1 {
  font-size: 0;
}
[id*="manage_tokens"] + * .colored-output code > :first-child .md-annotation {
  font-size: 0.544rem;
}

/* Adjust the width of the annotation tooltip (text box). */
[id*="manage_tokens"] + * .colored-output code .md-annotation .md-tooltip {
  width: 16.5rem;
}

/* Restore the default color to the lines that don't need fancy coloring. */
[id*="manage_tokens"] + * .colored-output :is(#line-0-8, #line-0-13) .go {
  background-color: var(--md-code-hl-generic-color);
}

/* Color the "token successfully deleted" line completely green. */
[id*="manage_tokens"] + * .colored-output #line-0-15 .go {
  background-color: var(--color-green);
}

/* Color the "exiting process" line completely grey. */
[id*="manage_tokens"] + * .colored-output #line-0-22 > .go {
  background-color: var(--color-grey);
}

/* Color the line containing the info for the "default" token. */
[id*="manage_tokens"] + * .colored-output #line-0-4 .go {
  background-image: linear-gradient(
    to right,
    var(--color-cyan) 0%,
    var(--color-cyan) 4.23%,
    var(--md-code-hl-generic-color) 4.23%,
    var(--md-code-hl-generic-color) 26.76%,
    var(--color-grey) 26.76%,
    var(--color-grey) 100%
  );
}

/* Color the lines containing the info for the "protected" token. */
[id*="manage_tokens"] + * .colored-output :is(#line-0-5, #line-0-18) .go {
  background-image: linear-gradient(
    to right,
    var(--color-cyan) 0%,
    var(--color-cyan) 4.11%,
    var(--md-code-hl-generic-color) 4.11%,
    var(--md-code-hl-generic-color) 26.03%,
    var(--color-grey) 26.03%,
    var(--color-grey) 100%
  );
}

/* Color the "number doesn't match" line. */
[id*="manage_tokens"] + * .colored-output #line-0-10 .go {
  background-image: linear-gradient(
    to right,
    var(--color-yellow) 0%,
    var(--color-yellow) 68.49%,
    var(--md-code-hl-generic-color) 68.49%,
    var(--md-code-hl-generic-color) 84.93%,
    var(--color-cyan) 84.93%,
    var(--color-cyan) 86.3%,
    var(--md-code-hl-generic-color) 86.3%,
    var(--md-code-hl-generic-color) 94.52%,
    var(--color-cyan) 94.52%,
    var(--color-cyan) 95.89%,
    var(--md-code-hl-generic-color) 95.89%,
    var(--md-code-hl-generic-color) 100%
  );
}

/* Color the "example-bot" name pink in the lines where it appears. */
[id*="manage_tokens"] + * .colored-output :is(#line-0-3, #line-0-17) .go {
  background-image: linear-gradient(
    to right,
    var(--color-pink) 0%,
    var(--color-pink) 17.46%,
    var(--md-code-hl-generic-color) 17.46%,
    var(--md-code-hl-generic-color) 100%
  );
}

/* Color the "yes" and "y" prompt words in the lines where they appear. */
[id*="manage_tokens"] + * .colored-output :is(#line-0-7, #line-0-20) .go {
  background-image: linear-gradient(
    to right,
    var(--md-code-hl-generic-color) 0%,
    var(--md-code-hl-generic-color) 80.82%,
    var(--color-cyan) 80.82%,
    var(--color-cyan) 84.93%,
    var(--md-code-hl-generic-color) 84.93%,
    var(--md-code-hl-generic-color) 93.15%,
    var(--color-cyan) 93.15%,
    var(--color-cyan) 94.52%,
    var(--md-code-hl-generic-color) 94.52%,
    var(--md-code-hl-generic-color) 100%
  );
}
[id*="manage_tokens"] + * .colored-output #line-0-12 .go {
  background-image: linear-gradient(
    to right,
    var(--md-code-hl-generic-color) 0%,
    var(--md-code-hl-generic-color) 75%,
    var(--color-cyan) 75%,
    var(--color-cyan) 80.36%,
    var(--md-code-hl-generic-color) 80.36%,
    var(--md-code-hl-generic-color) 91.07%,
    var(--color-cyan) 91.07%,
    var(--color-cyan) 92.86%,
    var(--md-code-hl-generic-color) 92.86%,
    var(--md-code-hl-generic-color) 100%
  );
}
