/* Hide fake header at top of page (it's only there for the "#" nav entry). */
h2:first-of-type[id=""] {
  display: none;
}

/* Hide page navigation links for root code header and any __init__ methods. */
.md-nav--secondary > ul > li > a:not([href="#"]),
.md-nav--secondary a[href*="__init__"] {
  display: none;
}

/* Use the code font for page navigation links. */
.md-nav--secondary li {
  font-family: var(--md-code-font-family);
}

/* Hide section anchor links for root code header and any __init__ methods. */
:is(h1[id^="botstrap."], [id*="__init__"]) a.headerlink {
  display: none;
}

/* Hide footer links pointing outside of the current code package. */
a[href="../"].md-footer__link--prev,
a[href^="../../"].md-footer__link {
  display: none;
}
