/* Hide parentheses in headings for properties, so they don't look like methods. */
.doc-heading:is([id$="file_path"], [id$="min_pw_length"]) > code > .p {
  display: none;
}

/* Hide parentheses in the "Page Contents" link for the `file_path` property. */
.md-nav--secondary .md-nav__item [href$="file_path"] {
  margin-right: 7.8em;
}

/* Hide parentheses in the "Page Contents" link for the `min_pw_length` property. */
.md-nav--secondary .md-nav__item [href$="min_pw_length"] {
  margin-right: 5.4em;
}
