name: Publish

on:
  push:
    branches:
      - main
    tags:
      - "[0-9]+.[0-9]+.*"

jobs:
  pypi:
    name: PyPI
    environment: Release
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3.1.0

      - name: Set up Python 3.10
        uses: actions/setup-python@v4.3.0
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: setup.py

      - name: Install dependencies
        run: python -m pip install -U pip build

      - name: Build package
        run: python -m build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@v1.6.1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          print_hash: true
